* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(234, 224, 213, 0.5);
    color: #0A0908;
    font-family: "Dekko", sans-serif;
}

html,
body,
.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 0.1;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.wrapper .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapper .header .headercol {
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    padding: 1.5vh 0 1.5vh;
}

.wrapper .header #logo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.wrapper .header #logo img {
    width: 200px;
    height: 70px;
    object-fit: cover;
    padding-left: 2.5vw;
}

.wrapper .header #scorecount {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .header h1 {
    font-family: "Doto", sans-serif;
    font-size: 2.5em;
    font-weight: 900;
}

.wrapper .header h2 {
    font-size: 1.9em;
}

.wrapper .main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 120px;
    border-bottom: 2px solid #5E503F;
    border-top: 2px solid #5E503F;
}

.wrapper .main #bnb button {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.38);
    border-radius: 10rem;
    transition: .1s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.wrapper .main #bnb button img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10rem;
    pointer-events: none;
    border: 3px solid #22333B;
}

.wrapper .main #bnb #bnbimage {
    border-radius: 10rem;
}

@keyframes bnbroll {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.wrapper .main .upg2-image {
    position: absolute;
    right: 10vw;
    top: 30vh;
    width: 70px;
    height: 70px;
    animation: bnb2 3s infinite linear;
}

@keyframes bnb2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.shrink-grow {
    transform: scale(0.9);
    transition: .1s ease-in-out;
}

.shrink-grow-back {
    transform: scale(1);
    transition: .1s ease-in-out;
}

.wrapper .info {
    background: rgba(234, 224, 213, 0.6);
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #5E503F;
}

.wrapper .info h4 {
    font-size: 1.4em;
}

.wrapper .upg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30vh;
    gap: 10px;
}

.wrapper .upg .col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper .upg button {
    height: 7vh;
    width: 9vw;
    background: #EAE0D5;
    border: 2px solid gray;
    border-radius: .3rem;
    font-family: "Dekko", sans-serif;
    font-size: 1em;
    transition: .1s ease-in-out;

    &:hover {
        border: 2px solid #0A0908;
        font-size: 1.1em;
    }
}

.wrapper footer {
    height: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-text {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 1s, opacity 1s;
    pointer-events: none;
}

@media (max-width: 1440px) {
    .wrapper .upg {
        justify-content: space-evenly;
        height: 40vh;
        padding: 20px 0 20px;
    }

    .wrapper .upg .col button {
        width: 30vw;
        height: 10vh;
    }
}

@media (max-width: 1280px) {
    .wrapper .header {
        margin: 40px 0 0;
    }
}

@media (max-width: 1024px) {

    html,
    body {
        height: 100vh;
    }

    .wrapper {
        flex-direction: column;
    }

    .background img {
        position: fixed;
    }

    .wrapper .header {
        flex-direction: column;
        align-items: center;
        margin: 0 0 0;
    }

    .wrapper .header #scorecount {
        position: fixed;
        top: 0;
        width: 100%;
        justify-content: right;
        margin-right: 130px;
        z-index: 2;
    }

    .wrapper .header #scorecount h2 {
        background: rgba(234, 224, 213, .7);
        padding: 10px 30px 10px;
        border-radius: 1rem;
    }


    .wrapper .header #logo {
        justify-content: center;
    }

    .wrapper .header #logo img {
        padding: 0;
    }

    .wrapper .main {
        flex-direction: column;
        padding: 50px 0 50px;
    }

    .wrapper .main .upg2-image {
        top: 60vh;
        right: 3vw;
        width: 50px;
        height: 50px;
    }

    .wrapper .upg .col button {
        font-size: .8em;
    }

    h2,
    h4 {
        font-size: 1.2em;
    }

    .wrapper footer {
        padding: 0 0 2vh;
    }
}

@media (max-width: 1024px) and (max-height: 600px) {

    .wrapper .header {
        flex-direction: row;
        margin: 150px 0 0;
    }

    .wrapper .main {
        margin-top: 20px;
    }

    .wrapper .header #scorecount {
        justify-content: center;
        margin-right: 0;
        padding-bottom: 0;
        top: 20px;
    }
}

@media (max-width: 540px) {
    .wrapper .header {
        margin: 150px 0 0;
    }

    .wrapper .header #scorecount {
        margin-right: 10px;
    }

    .wrapper .main {
        margin-top: 20px;
    }

}

@media (max-width: 480px) {
    .wrapper {
        flex-direction: column;
    }

    .wrapper .upg {
        width: 100vw;
    }

    .wrapper .header {
        flex-direction: column;
        align-items: center;
        margin: 270px 0 0;
    }

    .wrapper .header #scorecount {
        position: fixed;
        top: 0;
        width: 100%;
        justify-content: center;
        margin: 0;
    }

    .wrapper .header .headercol {
        margin-bottom: 30px;
    }

    .wrapper .header #logo {
        margin-bottom: 0;
    }

    .wrapper .main {
        margin-top: 0;
    }

    .bnb {
        width: 80%;
        margin: 20px auto;
    }

    h2,
    h4 {
        font-size: 1em;
    }
}

@media (max-width: 375px) {

    .wrapper .header {
        margin: 350px 0 0;
    }

    .wrapper .header #logo {
        margin-bottom: 20px;
    }

}

@media (max-width: 344px) {
    .wrapper .header #logo {
        margin-bottom: 0px;
    }
}